* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

section {
  text-align: center;
  line-height: 2rem;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(https://images.unsplash.com/photo-1510784722466-f2aa9c52fff6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
}

ul {
  list-style: none;
}

.location {
  font-size: 2rem;
}

.temp {
  font-size: 27px;
}
